.cart_screen_container{
    width: 500px;
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 20px;
}

.cart_screen_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);z-index: 1000;
    
}

.hidden {
    display:none;
}

.check_out_btns{
    text-align: right;
}

input{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 200px;
    padding: 2px;
}

.check_out_btns input{
    width: 100px;
    background-color: rgb(255, 200, 0);
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-radius: 4px;
}

.check_out_btns button{
    width: 100px;
    background-color: rgb(230, 230, 230);
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;   
}

label{
    font-weight: bold;
}