.cart_screen_container{
    width: 500px;
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 20px;
}

.cart_screen_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);z-index: 1000;
    
}

.hidden {
    display:none;
}

.check_out_btns{
    text-align: right;
}

input {
    /* width: 200px; */
}

.check_out_btns input{
    /* width: 200px; */
}